/* BACKGROUND */

.background_container .background {
    background-image: url(../media/img/background/Materials.jpg);
    top: 0px;
    height: 100vh;
}
@media only screen and (min-width: 170.9vh) {
    .background_container .background {
        height: 58.5vw;
    }
}