/* BACKGROUND */

.background_container .background {
    background-image: url(../media/img/background/Props.jpg);
    top: 0px;
    height: 100vh;
}
@media only screen and (min-width: 200vh) {
    .background_container .background {
        height: 50vw;
    }
}