/* BACKGROUND */

.background_container .background {
    background-image: url(../media/img/background/Tiles.jpg);
    top: 0px;
    height: 100vh;
}
@media only screen and (min-width: 147.6vh) {
    .background_container .background {
        height: 67.75vw;
    }
}